<div class="news-container">
  <div class="news-header">
    <h1>Gerenciamento de Usuários</h1>
    <p>Gerencie os usuários do sistema</p>
  </div>

  <div class="news-tabs">
      <button 
      class="tab-button" 
      [class.active]="activeTab === 'create'"
      (click)="setActiveTab('create')">
      <i class="fas fa-plus"></i>
      Criar Usuário
    </button>
    <button 
      class="tab-button" 
      [class.active]="activeTab === 'list'"
      (click)="setActiveTab('list')">
      <i class="fas fa-list"></i>
      Lista de Usuários
    </button>
  </div>

  <div class="news-content">
    <app-user-list *ngIf="activeTab === 'list'"></app-user-list>
    <app-create-user *ngIf="activeTab === 'create'"></app-create-user>
  </div>
</div>
