

:host {
    display: flex;
    justify-content: center;
    height: max-content;
    width: 100%;

}

main {
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
    max-width: 1366px;
    padding: 5px;
    .carousel-desktop {
        display: block;
    }
    .carousel-mobile {
        display: none;
    }
}

@media (max-width: 1128px) {
    main{
        .carousel-desktop {
            display: none;
        }
        .carousel-mobile {
            display: block;
        }
    }
}