@if (medias() && medias().length > 0) {
  <div class="news-gallery">
    <h3 class="section-title">Galeria de fotos</h3>
    <div class="gallery-grid">
      @for (media of medias(); track media.id) {
        <div class="gallery-item">
          <img 
            [src]="media.imgSize?.small" 
            [alt]="'Imagem ' + $index"
            class="gallery-image"
          >
          @if (media.author) {
            <div class="gallery-credit">
              Foto: {{ media.author }}
            </div>
          }
        </div>
      }
    </div>
  </div>
}
